Page {
    background-color: red;
}

.action-bar {
    background-color: rgba(255, 0, 0, 0.3);
}

.hidden {
    opacity: 0;
}

.fakeActionBar {
    padding: 0 10;
}

.fakeActionBar Label {
    text-align: center;
}

.fakeActionBar Button {
    font-size: 20;
}